/* -------- FONTS IMPORT -------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

/* -------- SCROLLBAR STYLE -------- */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  display: none;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #646363;
  border-radius: 5px;
  transition: all 300ms;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
  background: #ffffff;
}

/* -------- SELECTION STYLE -------- */
::selection {
  background: #ffffff;
  color: #000000;
}

/* -------- REMOVE INPUT NUMBER STYLE -------- */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

/* -------- PLACEHOLDER STYLE -------- */
input::-webkit-input-placeholder {
  font-family: 'Barlow Condensed', sans-serif;
  /* Firefox 18- */
  font-size: 1.2rem;
  font-weight: 200;
  color: #e4e4e48c;
}

/* -------- NORMALIZING -------- */
* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------- GENERAL STYLE -------- */
html {
  background: linear-gradient(to bottom, #020202, #272727);
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  min-width: 380px;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

p,
span,
input,
label,
textarea {
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}

h1,
h2,
button {
  color: #ebebeb;
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

span {
  font-weight: thin;
  font-size: 1.7rem;
}

/* -------- HEADER ARROW BACK STYLE -------- */
header.arrow-back {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 3000;
}

header.arrow-back a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  filter: invert(1);
  transition: all 200ms;
}

header.arrow-back a:hover,
header.arrow-back a:focus {
  filter: invert(0);
  animation: pulse 2s infinite;
}

header.arrow-back a img {
  height: 60px;
  width: 60px;
}

/* -------- SITE HEADER STYLE -------- */
#section-1 {
  margin-top: 25vh;
}

.site-header {
  position: fixed;
  display: flex;
  height: 18vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #020202;
  /* border-bottom: 1px solid #ffffff; */
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 7000;
}

#site-title {
  color: #ffffffd7;
  /* text-shadow: 2px 2px 0px #fff ;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 2px; */
  font-size: 3rem;
}

.site-header a {
  position: absolute;
  top: 6vh;
  right: 5vw;
  filter: invert(0.8);
}

.site-header a img {
  height: 6vh;
  min-height: 6vh;
}


/* -------- HOME MAIN STYLE -------- */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card {
  display: flex;
  height: 70vh;
  width: 40vw;
  margin: 0.5vh;
  transition: all 200ms;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.card:hover,
.card:focus {
  transform: scale(1.05, 1.05);
  filter: contrast(1.2);
}

/* -------- GENERAL BACKGROUND IMAGES -------- */
#somador {
  background-image: url('../images/bg-cards/SOMADOR.svg');
  background-position: top center;
  background-size: cover;
}

#fibonacci {
  background-image: url('../images/bg-cards/FIBONACCI.svg');
  background-position: top center;
  background-size: cover;
}

#mdc {
  background-image: url('../images/bg-cards/MDC.svg');
  background-position: top center;
  background-size: cover;
}

#ordenar {
  background-image: url('../images/bg-cards/QUICKSORT.svg');
  background-position: top center;
  background-size: cover;
}

#contador {
  background-image: url('../images/bg-cards/CONTAGEM.svg');
  background-position: top center;
  background-size: cover;
}

#primo {
  background-image: url('../images/bg-cards/PRIMO.svg');
  background-position: top center;
  background-size: cover;
}

/* -------- CONTACT STYLE -------- */
.contato {
  width: 70vw;
  height: 100%;
  background-color: #000000;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.contato form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contato input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffffd7;
  width: 70%;
  margin-bottom: 25px;
  padding: 0 15px;
}

.contato textarea {
  width: 70%;
  background-color: transparent;
  border: 1px solid #ffffffd7;
  border-radius: 5px;
  padding: 10px 10px;
  max-height: 250px;
  min-height: 100px;
  resize: vertical;
}

.contato .telefone {
  display: flex;
  align-items: center;
  width: 70%;
}

.telefone input[type="checkbox"] {
  width: unset;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 5px;
}

.telefone label img {
  height: 40px;
}

/* -------- FOOTER STYLE -------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}

footer h1 {
  margin-top: 10vh;
  color: #fff;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

footer a.github {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 1.6rem;
  color: #ebebeb;
  background-color: #111;
  border: 1px solid #ebebeb;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 5px;
  transition: all 200ms;
}

footer a.github img {
  transition: all 200ms;
}

footer a.github:hover,
footer a.github:focus {
  transform: scale(1.1, 1.1);
  background-color: #fff;
}

#integrante-1:hover,
#integrante-1:focus {
  background: url('https://avatars0.githubusercontent.com/u/62717829?s=400&u=03b7f1eb61aa7495d5f4959434c5f4600b5386a9&v=4');
  background-position: center;
  background-size: cover;
  background-color: #fff;
}

#integrante-2:hover,
#integrante-2:focus {
  background: url('https://avatars1.githubusercontent.com/u/70494467?s=400&u=0c4ba372d6c83a0abe4cb2aa95672493f54c4427&v=4');
  background-position: center;
  background-size: cover;
  background-color: #fff;
}

#integrante-3:hover,
#integrante-3:focus {
  background: url('https://avatars1.githubusercontent.com/u/66738621?s=400&u=95730c215acea929616d3a25905a44f404dc1850&v=4');
  background-position: center;
  background-size: cover;
  background-color: #fff;
}

#integrante-4:hover,
#integrante-4:focus {
  background: url('https://avatars0.githubusercontent.com/u/70484799?s=460&u=43c45b1e960dcc5d0a25af8122e89099748dcb6c&v=4');
  background-position: center;
  background-size: cover;
  background-color: #fff;
}

#integrante-5:hover,
#integrante-5:focus {
  background: url('https://avatars2.githubusercontent.com/u/70498107?s=400&u=325d1eb561ab569d66137a4ab707ac2702a94ef2&v=4');
  background-position: center;
  background-size: cover;
  background-color: #fff;
}

footer a.github:hover img,
footer a.github:focus img {
  filter: invert(1);
  margin-left: auto;
}

footer a.github:hover span,
footer a.github:focus span {
  /* filter: invert(1); */
  display: none;
}

footer a.github img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* -------- ALGORITHM INPUT AND SHOW STYLE -------- */

section#somador {
  background-image: url('../images/bg-cards/SOMADOR-NO-TITLE.svg');
  background-position: top center;
  background-size: cover;
}

section#fibonacci {
  background-image: url('../images/bg-cards/FIBONACCI-NO-TITLE.svg');
  background-position: top center;
  background-size: cover;
}

section#mdc {
  background-image: url('../images/bg-cards/MDC-NO-TITLE.svg');
  background-position: top center;
  background-size: cover;
}

section#ordenar {
  background-image: url('../images/bg-cards/QUICKSORT-NO-TITLE.svg');
  background-position: top center;
  background-size: cover;
}

section#contador {
  background-image: url('../images/bg-cards/CONTAGEM-NO-TITLE.svg');
  background-position: top center;
  background-size: cover;
}

section#primo {
  background-image: url('../images/bg-cards/PRIMO.svg');
  background-position: top center;
  background-size: cover;
}

.algoritmo {
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  margin: auto 0;
  border-radius: 5px;
  position: relative;
}

.algoritmo h1 {
  width: 50%;
  text-align: center;
}

.algoritmo .container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  padding-top: 2%;
  border-left: 2px solid #fff;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form p {
  text-align: center;
}

.container form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 15px;
  margin: 10px 0;
  width: 90%;
}

.container form input.input-sml {
  height: 35px;
  width: 100px;
  text-align: center;
  margin: 10px 15px;
}

.container form button {
  background-color: transparent;
  border: 2px solid #ffffff91;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 200ms;
}

.container form button:hover,
.container form button:focus {
  transform: scale(1.1, 1.1);
  background-color: #ffffff91;
  color: #000000;
  font-weight: 600;
}

.input-lado-a-lado {
  display: flex;
}

.input-lado-a-lado input {
  margin: 0 15px;
}

.algoritmo .resultado {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 15px;
}

.resultado p {
  margin-bottom: 15px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

/* -------- FLIP BUTTON STYLE -------- */
.flip-container {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  z-index: 6000;
}

.flip-container button {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  margin: 15px;
  border: none;
  font-size: 4rem;
  height: 40px;
  width: 40px;
  transition: all 600ms;
}

.flip-on {
  -webkit-transform: rotate(180deg);
  transform: rotate(180);
}

.flip-off {
  -webkit-transform: rotate(0deg);
  transform: rotate(0);
}

/* -------- SLIDE AREA STYLE -------- */
.slide-area {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #00000083;
  z-index: 4000;
  transition: all 600ms;
}

.slide-area-on {
  width: 100%;
}

.slide-area-off {
  width: 0%;
}

.slide-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  z-index: 5000;
  transition: all 600ms;
  overflow: hidden;
  overflow-y: auto;
}

.slide-menu h2 {
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.slide-menu p {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: justify;
}

.slide-menu form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 15px;
  width: 100%;
  margin-bottom: 25px;
}

.slide-menu input {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100px;
  padding: 0 15px;
  margin: 2% 2%;
}

.slide-menu button {
  background-color: transparent;
  border: 2px solid #ffffff91;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 400;
  border-radius: 5px;
  padding: 0px 15px;
  cursor: pointer;
  transition: all 200ms;
}

.slide-menu button:hover,
.slide-menu button:focus {
  /* transform: scale(1.1, 1.1); */
  background-color: #fff;
  color: #000000;
}

#somador #slider {
  background-color: #170606;
}

#fibonacci #slider {
  background-color: #06261E;
}

#mdc #slider {
  background-color: #571F06;
}

#ordenar #slider {
  background-color: #332513;
}

#primo #slider {
  background-color: #130507;
}

#contador #slider {
  background-color: #2A282F;
}

.slide-on {
  border: 1px solid #fff;
  padding: 15px;
  width: 50%;
}

.slide-off {
  width: 0%;
}

/* -------- STYLE FOR FADE IN AND OUT EFFECT -------- */
.transparent {
  display: none;
}

.fade-in {
  animation: fadein 400ms;
}

.fade-out {
  animation: fadeout 400ms;
}

/* -------- KEYFRAME FADE IN AND OUT -------- */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* -------- PULSE KEYFRAMES -------- */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* -------- RESPONSIVE STYLE -------- */
@media (max-width: 860px) {
  section {
    flex-direction: column;
  }

  .card {
    width: 70vw;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100vw;
  }
}

@media (max-width: 1250px) {
  .algoritmo {
    flex-direction: column;
    min-width: 600px;
    min-height: unset;
  }

  .algoritmo h1 {
    margin-top: 5vh;
    width: auto;
  }

  .algoritmo .container {
    border: none;
    width: auto;
  }

  .slide-on {
    width: 75%;
  }
}

.muleke-blackscreen {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  z-index: 9000;
  background-color: #00000077;
}

.muleke-blackscreen button {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 1rem;
}

.eterno-muleke {
  position: fixed;
  height: 1024px;
  width: 768px;
  top: 25px;
  left: 25px;
  background-image: url('../images/eterno-muleke.jpg');
  background-position: top center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10000;
}

.muleke-off {
  display: none;
}