<%- contentFor('body') %>
<section id="contador" class="algoritmo">
  <div class="dark-filter">
    <h1>Contar números</h1>
    <div class="container">
      <form action="/app/contador" method="POST" autocomplete="off">
        <p>Insira um número</p>
        <input
          class="input-sml"
          type="number"
          name="numero"
          required
          autofocus
          min="1"
          pattern="^[0-9]+$"
          placeholder="Ex: 25"
        />
        <button type="submit">Contar</button>
      </form>
      <div class="resultado">
        <% if(resultado) { %>
        <p>Quantidade de números entre 1 e <%= resultado %> é <%= resultado %></p>
        <% } %>
      </div>
    </div>
  </div>
</section>
