<%- contentFor('body') %>
<header class="nav-bar">
  <ul>
    <li><a href="/app">Home</a></li>
    <li><a href="/app/somador">Somador</a></li>
    <li><a class="selected" href="/app/fibonacci">Fibonacci</a></li>
    <li><a href="/app/mdc">MDC</a></li>
    <li><a href="/app/ordenar">Ordenação</a></li>
    <li><a href="/app/contador">Contagem</a></li>
    <li><a href="/app/primo">Número Primo</a></li>
  </ul>
</header>

<div class="home">
  <h1>Fibonacci</h1>
  <p>Digita a quantidade de numeros da sequencia</p>
  <form action="/app/fibonacci" method="POST" autocapitalize="off">
    <input 
    type="number" 
    name="quantidade"
    required
    pattern="^[\d,.]+$"
    placeholder="Ex: 1,2,3,4,5"
    >

    <button type="submit">Enviar</button>
  </form>

  <div class="resultado">
    <% if(resultado) { %>
      <p>Sequencia Fibonacci:</p>
      <p><%= resultado %></p>
    <% } %>
  </div>
</div>