<%- contentFor('body') %>
<section id="fibonacci" class="algoritmo">
  <div class="dark-filter">
    <h1>Fibonacci</h1>
    <div class="container">
      <form action="/app/fibonacci" method="POST" autocomplete="off">
        <p>Digite a quantidade de números da sequência:</p>
        <input
          class="input-sml"
          type="number"
          name="quantidade"
          required
          autofocus
          placeholder="Ex: 10"
        />
        <button type="submit">Ver sequência</button>
      </form>
      <div class="resultado">
        <% if(resultado) { %>
        <p>Sequência de Fibonacci é: <%= resultado %></p>
        <% } %>
      </div>
    </div>
  </div>
</section>