<%- contentFor('body') %>
<div class="muleke-blackscreen">
  <audio src="http://localhost:3333/audio/sad-muleke.mp3"></audio>
  <button id="muleke-play">play</button>
  <button id="muleke-pause">pause</button>
  <div class="eterno-muleke"></div>
</div>
<header class="site-header" >
  <h1 id="site-title">Algoritmos Básicos</h1>
</header>
<section id="section-1">
  <a class="card" id="somador" href="/app/somador "></a>
  <a class="card" id="fibonacci" href="/app/fibonacci"></a>
</section>
<section>
  <a class="card" id="mdc" href="/app/mdc"></a>
  <a class="card" id="ordenar" href="/app/ordenar"></a>
</section>
<section>
  <a class="card" id="contador" href="/app/contador"></a>
  <a class="card" id="primo" href="/app/primo"></a>
</section>
<footer>
  <h1>Dev. Team</h1>
  <ul>
    <% equipe.map((integrante, index) => { %>
    <li>
      <a target="_blank" class="github" href="<%= github[index]%>">
        <div></div>
        <span><%= integrante %></span>
        <img
          src="http://localhost:3333/images/github-logo-white.svg"
          alt="Logo by: Dave Gandy"
        />
      </a>
    </li>
    <% }) %>
  </ul>
</footer>
<script src="http://localhost:3333/js/sad-muleke-play.js"></script>i
