<%- contentFor('body') %>
<header class="nav-bar">
  <ul>
    <li><a href="/app">Home</a></li>
    <li><a href="/app/somador">Somador</a></li>
    <li><a href="/app/fibonacci">Fibonacci</a></li>
    <li><a class="selected" href="/app/mdc">MDC</a></li>
    <li><a href="/app/ordenar">Ordenação</a></li>
    <li><a href="/app/contador">Contagem</a></li>
    <li><a href="/app/primo">Número Primo</a></li>
  </ul>
</header>
<div class="container">
  <h1>Calcular MDC</h1>
  <form action="/app/mdc" method="POST" autocomplete="off">
    <p>Insira dois números</p>
    <div class="input-lado-a-lado">
      <input
        autofocus
        class="input-sml"
        type="number"
        name="numero1"
        min="1"
        required
        pattern="^[\d,.]+$"
        placeholder="Ex: 10"
      />
      <input
        class="input-sml"
        type="number"
        name="numero2"
        min="1"
        required
        pattern="^[\d,.]+$"
        placeholder="Ex: 12"
      />
    </div>
    <button type="submit">Calcular</button>
  </form>
  <div class="resultado">
    <% if(resultado) { %>
      <p> MDC: <%= resultado %></p>
      <% } %>
  </div>
</div>
