<%- contentFor('body') %>
<section id="mdc" class="algoritmo">
  <div id="slide-area" class="slide-area"></div>

  <div id="slider" class="slide-menu slide-off">
    <div id="transition" class="transparent">
      <h2>Informações do algoritomo</h2>
      <p>Algoritmo para calcular o máximo divisor comum(MDC)</p>
    </div>
  </div>
</form>

  <div class="flip-container">
    <button id="btn-menu" class="flipper" ><</button>
  </div>
  <h1>Calcular MDC</h1>
  <div class="container">
    <form action="/app/mdc" method="POST" autocomplete="off">
      <p>Insira dois números</p>
      <div class="input-lado-a-lado">
        <input
          autofocus
          class="input-sml"
          type="number"
          name="numero1"
          min="1"
          required
          pattern="^[\d,.]+$"
          placeholder="Ex: 10"
        />
        <input
          class="input-sml"
          type="number"
          name="numero2"
          min="1"
          required
          pattern="^[\d,.]+$"
          placeholder="Ex: 12"
        />
      </div>
      <button type="submit">Calcular</button>
    </form>
    <div class="resultado">
      <% if(resultado) { %>
      <p>MDC: <%= resultado %></p>
      <% } %>
    </div>
  </div>
</section>
<script src="http://localhost:3333/js/algorithmPage.js"></script>