<%- contentFor('body') %> 
<header class="nav-bar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/somador">Somador</a></li>
    <li><a href="/fibonacci">Fibonacci</a></li>
    <li><a href="/mdc">MDC</a></li>
    <li><a class="selected" href="/ordenar">Ordenação</a></li>
    <li><a href="/contador">Contagem</a></li>
    <li><a href="/primo">Número Primo</a></li>
  </ul>
</header>
<div class="home">
  <h1><%= title  %> </h1>
</div>