<%- contentFor('body') %> 
<header class="nav-bar">
  <ul>
    <li><a href="/app">Home</a></li>
    <li><a href="/app/somador">Somador</a></li>
    <li><a href="/app/fibonacci">Fibonacci</a></li>
    <li><a href="/app/mdc">MDC</a></li>
    <li><a href="/app/ordenar">Ordenação</a></li>
    <li><a href="/app/contador">Contagem</a></li>
    <li><a class="selected" href="/app/primo">Número Primo</a></li>
  </ul>
</header>
<div class="home">
  <h1>Será que é primo?</h1>
</div>