<%- contentFor('body') %>
<section id="somador" class="algoritmo">
  <div class="dark-filter">
    <h1>Somar um array</h1>
    <div class="container">
      <form action="/app/somador" method="POST" autocomplete="off">
        <p>Insira os números separados por vírgula:</p>
        <input
          type="text"
          name="array"
          required
          autofocus
          pattern="^[\d\-,.]+$"
          placeholder="Ex: 1,2,3,4,5"
        />
        <button type="submit">Somar</button>
      </form>
      <div class="resultado">
        <% if(resultado) { %>
          <p>Array: [<%= entry %>]</p>
          <p>Soma: <%= resultado %></p>
        <% } %>
      </div>
    </div>
  </div>
</section>
