<%- contentFor('body') %>
<h1 id="site-title">Algoritmos Básicos</h1>
<section id="section-1">
  <a class="card" id="somador" href="/somador-teste ">
    <span>Somador</span> 
  </a>
  
  <a class="card" id="fibonacci" href="/teste">
    <span>Fibonacci</span> 
  </a>
  
</section>


<section>
  <a class="card" id="mdc" href="/teste">
    <span>MDC</span> 
  </a>
  <a class="card" id="ordenar" href="/teste">
    <span>Quick Sordt</span> 
  </a>
  
  
</a>
</section>
<section>
  <a class="card" id="contador" href="/teste">
    <span>Contador</span> 
  
  </a>
  
  <a class="card" id="primo" href="/teste">
    <span>Primo</span> 
  </a>
</section>
<footer>
  <h1>Dev. Team</h1>
  <ul>
    <% equipe.map((integrante, index) => { %>
    <li>
      <a target="_blank" class="github" href="<%= github[index]%>">
        <div></div>
        <span><%= integrante %></span>
        <img
          src="http://localhost:3333/images/github-logo-white.svg"
          alt="Logo by: Dave Gandy"
        />
      </a>
    </li>
    <% }) %>
  </ul>
</footer>

