<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://localhost:3333/css/style.css">
  <title>Site Algorítmos</title>
</head>
<body>
  <header class="nav-bar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/somador">Somador</a></li>
      <li><a href="/fibonacci">Fibonacci</a></li>
      <li><a href="/mdc">MDC</a></li>
      <li><a href="/ordenar">Ordenação</a></li>
      <li><a href="/contador">Contagem</a></li>
      <li><a href="/primo">Número Primo</a></li>
    </ul>

    
  </header>

  <%- body %>
  
</body>
</html>