<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="http://localhost:3333/css/style.css" /> -->
    <link rel="stylesheet" href="http://localhost:3333/css/new-style.css" />
    <link
      rel="stylesheet"
      href="http://localhost:3333/css/backgroundChange.css"
    />
    <title>Site Algoritmos</title>
  </head>
  <body class="transparent" id="transition">
    <% if (header) { %>
      <header class="nav-bar">
        <a href="/teste"><img src="http://localhost:3333/images/arrow.svg" alt="arrow"></a>
      </header>
    <% } %>
    <%- body %>
    <script src="http://localhost:3333/js/index.js"></script>
  </body>
</html>
