body.bg-1 {
  background-image: url('../images/background1.jpg') ;
}
body.bg-2 {
  background-image: url('../images/background2.jpg') ;
}
body.bg-3 {
  background-image: url('../images/background3.jpg') ;
}
body.bg-4 {
  background-image: url('../images/background4.jpg') ;
}
body.bg-5 {
  background-image: url('../images/background5.jpg') ;
}
body.bg-6 {
  background-image: url('../images/background6.jpg') ;
}
body.bg-7 {
  background-image: url('../images/background7.jpg') ;
}
body.bg-8 {
  background-image: url('../images/background8.jpg') ;
}
body.bg-9 {
  background-image: url('../images/background9.jpg') ;
}
body.bg-10 {
  background-image: url('../images/background10.jpg') ;
}
body.bg-11 {
  background-image: url('../images/background11.jpg') ;
}
body.bg-12 {
  background-image: url('../images/background12.jpg') ;
}