@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

@font-face {
  font-family: 'Caviar Dreams';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
  font-family: 'Caviar Dreams';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/CaviarDreams_Bold.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff67;
  border-radius: 5px;
  transition: background-color 300ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
  background-color: #ffffff;
}

/* Selection style */
::selection {
  background: #ffffff;
  color: #000000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  /* Firefox 18- */
  font-size: 1.2rem;
  font-weight: 400;
  color: #e4e4e48c;
}

* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000000;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

p,
span,
input,
button {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 1.5rem;
}

h1 {
  color: #ebebeb;
  font-family: 'Caviar Dreams', 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

span {
  font-weight: thin;
  font-size: 1.7rem;
}

#site-title {
  margin: 10vh 0;
  font-size: 2.7rem;
}

header {
  position: absolute;
  margin-right: auto;
  left: 15px;
  top: 15px;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #ffffff;
  font-size: 4rem;
  border-radius: 40px;
  height: 80px;
  width: 80px;
  filter: invert(1);
  transition: all 200ms;
}

header a:hover, 
header a:focus {
  filter: invert(0);
  animation: pulse 2s infinite;
}

header a img {
  height: 60px;
  width: 60px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.card {
  display: flex;
  height: 80vh;
  width: 40vw;
  margin: 0.5vh;
  /* border-radius: 5px; */
  transition: all 200ms;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.card span {
  display: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: inherit;
  height: inherit;
  width: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 2rem;
  transition: all 200ms;
}

.card:hover,
.card:focus {
  background-color: #0000008a;
  transform: scale(1.05, 1.05);
}

.card:hover span,
.card:focus span {
  display: flex;
}

#somador {
  background-image: url('../images/background10.jpg');
  background-position: top center;
  background-size: cover;
}

#fibonacci {
  background-image: url('../images/background2.jpg');
  background-position: top center;
  background-size: cover;
}

#mdc {
  background-image: url('../images/background3.jpg');
  background-position: top center;
  background-size: cover;
}

#ordenar {
  background-image: url('../images/background4.jpg');
  background-position: top center;
  background-size: cover;
}

#contador {
  background-image: url('../images/background5.jpg');
  background-position: top center;
  background-size: cover;
}

#primo {
  background-image: url('../images/background7.jpg');
  background-position: top center;
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

footer h1 {
  margin-top: 10vh;
  color: #fff;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

footer a.github {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 1.6rem;
  color: #ebebeb;
  background-color: #000;
  border: 1px solid #ebebeb;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  padding: 0 10px;
  border-radius: 5px;
  transition: all 200ms;
}

footer a.github:hover,
footer a.github:focus {
  transform: scale(1.1, 1.1);
  filter: invert(1) brightness(1.01);
}

footer a.github img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.algoritmo {
  height: 70vh;
  width: 70vw;
  min-height: 600px;
  min-width: 1250px;
  justify-content: space-around;
  margin: auto 0;
  background-image: url('../images/background1.jpg');
  background-size: cover;
  border-radius: 5px;
}

.algoritmo .dark-filter {
  height: 100%;
  width: 100%;
  background-color: #000000a8;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.algoritmo h1 {
  width: 50%;
  text-align: center;
}

.algoritmo .container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 50%;
  padding-top: 1%;
  border-left: 2px solid #fff;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form p {
  text-align: center;
}

.container form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 15px;
  margin: 10px 0;
  width: 90%;
}

.container form input.input-sml {
  height: 35px;
  width: 100px;
  text-align: center;
  margin: 10px 15px;
}

.container form button {
  background-color: transparent;
  border: 2px solid #fff;
  height: 50px;
  border-radius: 25px;
  padding: 0 15px;
  cursor: pointer;
  transition: all 200ms;
}

.container form button:hover,
.container form button:focus {
  transform: scale(1.1, 1.1);
  background-color: #fff;
  color: #000000;
  font-weight: 600;
}

.input-lado-a-lado {
  display: flex;
}

.input-lado-a-lado input {
  margin: 0 15px;
}

.algoritmo .resultado {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 15px;
}

.transparent {
  display: none;
}

.fade-in {
  animation: fadein 400ms;
}

.fade-out {
  animation: fadeout 400ms;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 860px) {
  section {
    flex-direction: column;
  }

  .card {
    width: 70vw;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100vw;
  }
}

@media (max-width: 1250px) {
  .algoritmo {
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    min-width: 600px;
    min-height: unset;
  }

  .algoritmo h1 {
    margin-top: 5vh;
    width: auto;
  }

  .algoritmo .container {
    border: none;
    width: auto;
  }
}
