<%- contentFor('body') %>
<section id="fibonacci" class="algoritmo">
  <div id="slide-area" class="slide-area"></div>
  <div id="slider" class="slide-menu slide-off">
    <div id="transition" class="transparent">
      <h2>Informações do Algoritmo</h2>
      <p>
        Algoritmo com o objetivo de exibir a sequência de fibonacci de acordo
        com o valor de termos escolhido pelo usuário.
      </p>
    </div>
  </div>
  <div class="flip-container">
    <button id="btn-menu" class="flipper"><</button>
  </div>
  <h1>Fibonacci</h1>
  <div class="container">
    <form action="/fibonacci" method="POST" autocomplete="off">
      <p>Digite a quantidade de números da sequência:</p>
      <input
        class="input-sml"
        type="number"
        name="quantidade"
        required
        autofocus
        placeholder="Ex: 10"
      />
      <button type="submit">Ver sequência</button>
    </form>
    <div class="resultado">
      <% if(resultado) { %>
      <p>
        Sequência de Fibonacci é:
        <br />
        <br />
        <%= resultado %>
      </p>
      <% } %>
    </div>
  </div>
</section>
<script src="/js/algorithmPage.js"></script>
