<%- contentFor('body') %>
<!-- <div class="muleke-blackscreen">
  <audio src="http://localhost:3333/audio/sad-muleke.mp3"></audio>
  <button id="muleke-play">play</button>
  <button id="muleke-pause">pause</button>
  <div class="eterno-muleke"></div>
</div> -->
<header class="site-header">
  <h1 id="site-title">Algoritmos Básicos</h1>
  <a href="/contato">
    <img src="/images/icon-mail.svg" alt="logo mail">
  </a>
</header>
<section id="section-1">
  <a class="card" id="somador" href="/somador "></a>
  <a class="card" id="fibonacci" href="/fibonacci"></a>
</section>
<section>
  <a class="card" id="mdc" href="/mdc"></a>
  <a class="card" id="ordenar" href="/ordenar"></a>
</section>
<section>
  <a class="card" id="contador" href="/contador"></a>
  <a class="card" id="primo" href="/primo"></a>
</section>
<footer>
  <h1>Dev. Team</h1>
  <ul>
    <% equipe.map((integrante, index) => { %>
    <li>
      <a
        id="integrante-<%= index + 1 %>"
        target="_blank"
        class="github"
        href="<%= github[index] %>"
      >
        <div></div>
        <span><%= integrante %></span>
        <img
          src="/images/github-logo-white.svg"
          alt="Logo by: Dave Gandy"
        />
      </a>
    </li>
    <% }) %>
  </ul>
</footer>
<!-- <script src="http://localhost:3333/js/sad-muleke-play.js"></script> -->
