<%- contentFor('body') %>
<section id="ordenar" class="algoritmo">
  <div id="slide-area" class="slide-area"></div>
  <div id="slider" class="slide-menu slide-off">
    <div id="transition" class="transparent">
      <h2>Gerar array automático</h2>
      <form
        action="/ordenar/generate-array"
        method="POST"
        autocomplete="off"
      >
        <input type="number" name="size" placeholder="Tamanho" />
        <input type="number" name="min" placeholder="Valor min" />
        <input type="number" name="max" placeholder="Valor máx" />
        <button type="submit">gerar</button>
      </form>
      <h2>Informações sobre o algoritmo Quicksort</h2>
      <p>
        O algoritmo Quicksort utiliza o paradigma de programação Dividir para Conquistar ou divide and conquer. 
        Esse paradigma é uma abordagem recursiva em que a entrada do algoritmo
        é ramificada múltiplas vezes a fim de quebrar o problema maior em problema menores da mesma natureza.
      </p>
      <p>Nessa implementação o algritmo realizará uma ordenação partindo do menor para o maior elemento do array.</p>
      <p>Video exemplificando o funcionamento do algoritmo:</p>
      <br>
      <iframe width= 100% height= 100% src="https://www.youtube.com/embed/ywWBy6J5gz8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="flip-container">
    <button id="btn-menu" class="flipper"><</button>
  </div>
  <h1>Ordenar um array</h1>
  <div class="container">
    <form action="/ordenar" method="POST" autocomplete="off">
      <p>Digite números aleatórios (ﾉ･ｪ･)ﾉ</p>
      <input
        type="text"
        name="vetor"
        required
        autofocus
        pattern="^[\d\-,.]+$"
        placeholder="Ex: 1,2,3,4,5"
        value="<%= value %>"
      />
      <button type="submit">Ordenar</button>
    </form>
    <div class="resultado">
      <% if(resultado) { %>
      <p>
        Array: [<%= entry %>]
        <br />
        <br />
        Array ordenado: [<%= resultado %>]
      </p>
      <% } %>
    </div>
  </div>
</section>
<script src="/js/algorithmPage.js"></script>
